<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
    <section name="clientDependency" type="ClientDependency.Core.Config.ClientDependencySection, ClientDependency.Core" requirePermission="false" />
  </configSections>
  <appSettings>
      <add key="GoogleSearchApiKey" value="your API key here"/>
      <add key="GoogleSearchEngineId" value="your search engine id here"/>
      <add key="CacheFilePath" value="application folder to save cached search results in"/>
      <add key="CacheHours" value="number of hours to cache results for"/>
    </appSettings>
  <exceptionless apiKey="API_KEY_HERE" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.web>
    <compilation targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime enableVersionHeader="false" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="ExceptionlessModule"/>
      <add name="ExceptionlessModule" type="Exceptionless.Mvc.ExceptionlessModule, Exceptionless.Mvc" />
      <remove name="ContentSecurityPolicy"/>
      <add name="ContentSecurityPolicy" type="Escc.Web.ContentSecurityPolicyModule" />
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
    </modules>
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="DependencyHandler" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </handlers>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="410" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" subStatusCode="-1" path="/HttpStatus/BadRequest" responseMode="ExecuteURL" />
      <error statusCode="403" subStatusCode="-1" path="/HttpStatus/Forbidden" responseMode="ExecuteURL" />
      <error statusCode="404" subStatusCode="-1" path="/HttpStatus/NotFound" responseMode="ExecuteURL" />
      <error statusCode="410" subStatusCode="-1" path="/HttpStatus/Gone" responseMode="ExecuteURL" />
      <error statusCode="500" subStatusCode="-1" path="/HttpStatus/InternalServerError" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <Escc.ClientDependencyFramework>
    <CssFiles>
      <add key="FormsSmall" value="https://www.eastsussex.gov.uk/escc.eastsussexgovuk/css/forms-small.css" />
      <add key="FormsMedium" value="https://www.eastsussex.gov.uk/escc.eastsussexgovuk/css/forms-medium.css"/>
      <add key="FormsLarge" value="https://www.eastsussex.gov.uk/escc.eastsussexgovuk/css/forms-large.css"/>
    </CssFiles>
    <MediaQueries>
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />
    </MediaQueries>
  </Escc.ClientDependencyFramework>

  <Escc.EastSussexGovUK>
    <GeneralSettings>
      <add key="DesktopMvcLayout" value="~/views/eastsussexgovuk/desktop.cshtml" />
      <add key="PlainMvcLayout" value="~/views/eastsussexgovuk/plain.cshtml" />
      <add key="FullScreenMvcLayout" value="~/views/eastsussexgovuk/fullscreen.cshtml" />
      <add key="MasterPageParameterName" value="template" />
    </GeneralSettings>
    <BreadcrumbTrail>
      <add key="Home" value="https://www.eastsussex.gov.uk/" />
      <add key="Search" value="" />
    </BreadcrumbTrail>
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="https://www.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}" />
    </RemoteMasterPage>
  </Escc.EastSussexGovUK>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>

  <clientDependency version="1">
    <!-- Full config documentation is here: https://github.com/Shazwazza/ClientDependency/wiki/Configuration -->
  </clientDependency>
</configuration>