/* Increase spelling font size to 14px to help it stand out. */
.spelling { font-size: 1.076923em; line-height: 1.285714em; }

/* Colour URL green, as on Google itself, and fix spacing within results */
.text .url { margin: 0; color: #056b0b; background: #fff; }
.text dd p { margin: 0 0 1.384615em; }

/* Highlight search term where it's included in the extract */
mark { font-weight: bold; background: none; color: inherit; }

/* Make ellipses easier to see in the extract */
.ellipsis { font-weight: bold; }

/* Align the Google logo as part of a sentence. */
.google { vertical-align: middle; }

/* .refine box applies .simple-form and .supporting-text. .simple-form wins cascade,
   but some properties need to be set back to those of .supporting-text. */
div.refine { background: #fff; clear: none; margin: 0 0 1.384615em; padding: 0.692308em 1.86335%; }
div.refine h2 { margin: 0 -6.7% 10px; }